name: Trigger an Azure Machine Learning job
on:
  workflow_dispatch:
  push:
    branches:
      - main
  release:
    types: [published]
  
permissions:
  id-token: write
  contents: read
jobs:
  train:
    runs-on: ubuntu-latest
    environment: ${{ github.event_name == 'release' && 'prod' || 'dev' }}
    steps:
    - name: Check out repo
      uses: actions/checkout@v5
    - name: Install az ml extension
      run: az extension add -n ml -y
    - name: Azure login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    - name: Run Azure ML job
      run: |
        az ml job create --file src/job.yml --resource-group devoteam --workspace-name devoteam \
          --set inputs.training_data.path=azureml:diabetes-${{ vars.ENV_NAME }}-folder:${{ vars.ENV_NAME == 'prod' && '2' || '1' }} \
          --set experiment_name=diabetes-${{ vars.ENV_NAME }}-experiment
  deploy:
    runs-on: ubuntu-latest
    needs: train
    environment: prod
    if: ${{ github.event_name == 'release' }}
    steps:
    - name: Check out repo
      uses: actions/checkout@v5
      
    - name: Install az ml extension
      run: az extension add -n ml -y
      
    - name: Azure login
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
    - name: Create or update endpoint
      run: |
        az ml online-endpoint create --file deploy/endpoint.yml \
          --resource-group devoteam --workspace-name devoteam || true
          
    - name: Deploy model
      run: |
        az ml online-deployment create --file deploy/deployment.yml \
          --resource-group devoteam --workspace-name devoteam --all-traffic
